{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">  
<head>  
<meta charset="UTF-8">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<title>日历与任务计划</title>  
<link rel="stylesheet" href="{% static 'css/clndr.css' %}">
</head>  
<body>  
    <div class = "welcome-message"><h1>喵呜ฅ•ω•ฅ,欢迎查看日历</h1></div>
<div id="calendar">  
    <div class="header" id = "headers">  
        <button class="prev">&laquo;</button>  
        <span class="month">January</span>  
        <span class="year">2023</span>  
        <button class="next">&raquo;</button>  
    </div>  
    <div class="weekdays">  
    </div>  
    <div class="days"></div>  
    <div id="task-list"></div>  
</div>  

<div class = "dialog">
<div id="dialog-box" >
    <h4 style="color: #DF744A;">请点击文字查看具体任务~</h4>
    <h4 style="color:#DF744A;">加油吧！ε٩(๑> ₃ <)۶з</h4>
</div>
<div class="dialog-arrow"></div>
</div>

<div id = "img-cat">
    <img src="{% static 'img/cat-calendar.jpeg' %}" alt="">
</div>

<div id="taskModal" class="modal">
    <div class="modal-content">
    <h4>以下是近10天内需要完成的任务</h4>
    <h4>请加快速度哦！</h4>
    <ul id="notice-list"></ul>
    <span class="close" onclick="hideTaskModal()">&times;</span>
</div>
</div>


<div class = "choice">
    <button class = "return">
        <a href="/home/" class="btn btn-primary",style = " text-decoration: none;
        color:white;">返回主页面</a>
    </button>
    <button class="look" onclick="showTaskModal()">任务提醒</button>
    <button class = "exit"><a href="/user_center/" class="btn btn-primary",style = " text-decoration: none;
        color:white;">用户中心</a></button>
</div>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var Notice = JSON.parse('{{ noticeList|escapejs }}');
    var tasksList = document.getElementById('notice-list');
    tasksList.innerHTML = '';
    Notice.forEach(function(task) {
       if(task.status!= 'done'){
           var li = document.createElement('li');
           li.textContent = '任务截止时间: ' + task.due_date +'     Title: '+task.title+'   Status: '+task.status+'    Importance: '+task.importance;
           tasksList.appendChild(li);
    }
    });
    var Task = JSON.parse('{{ tasks|escapejs }}');

    //let tasks = {};


Task.forEach(function(task) {
    if (!tasks[task.due_date]) {
        tasks[task.due_date] = [];
    }
    tasks[task.due_date].push(`Title: ${task.title} ,Status:${task.status}, Importance:${task.importance}`);
});
    //Task.forEach(function(task){
        //tasks[task.due_date]=`Title: ${task.title} ,Status:${task.status}, Importance:${task.importance}`;
    //})

 })
    </script>
</body>  
</html>
