{% load static %}
<!DOCTYPE html>
<html lang="Zh-CN">
<head>
  <meta charset="utf-8">
  <title>猫猫计划本の用户中心</title>
  <!-- Link CSS -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
	<div class="main">
		<div class="top">
			<div class="header">
				<h1 class="logo"><a href="#"><img src="{% static 'img/cat-index.jpg' %}" alt=""></a></h1>
			</div>

			<h2>猫猫计划本の用户中心</h2>
			<h3>喵！ฅ•ω•ฅ 用户：{{ username }} 你好呀，可以在下方修改用户密码哦</h3>
		</div>
		<div class="signup">
			<h4>information</h4>
			<form method="post" action="/user_center/">
                {% csrf_token %}
				<div class="field">
                    <label>
                        <input type="password" name="password" placeholder="New Password" />
                    </label>
				</div>
                <div>
                    <button type="submit" class="submit_btn" id="btnSubmit" onclick="sendSubmit()">提交修改并返回首页</button>
                </div>
			</form>
		</div>
	</div>

</body>
</html>